<div class="row">
	<div class="span4">&nbsp;</div>
	<div class="span4 well">
		<p>
			{{view Ember.TextField class="input full-width" valueBinding="App.stateManager.user.name" placeholder="Your Name"}}
		</p>
		<p>
			{{#view Ember.Button action="showPresenterLogin" target="App.stateManager" class="btn btn-large btn-primary full-width"}}<i class="modern-icon modern-icon-white">S</i> I'm Presenting{{/view}}
		</p>
		<p>
			{{#view Ember.Button action="showSessionSelect" target="App.stateManager" class="btn btn-large btn-primary full-width"}}<i class="modern-icon modern-icon-white">E</i> I'm Viewing{{/view}}
		</p>
	</div>
	<div class="span4"/>&nbsp;</div>
</div>
