<div class="row">
<div class="span4">&nbsp;</div>
<div class="span4 well">
	Alfresco Credentials
	
	<p>
		{{view Em.TextField class="input full-width" placeholder="Login" valueBinding="App.stateManager.user.alf_login"}}
	</p>
	<p>
		{{view Em.TextField class="input full-width" placeholder="Password" type="password" valueBinding="App.stateManager.user.alf_password"}}
	</p>
	<div class="form-actions">
		{{#view Em.Button action="login" target="App.stateManager" class="btn btn-primary"}}Login{{/view}}

		{{#view Em.Button class="btn"}}Cancel{{/view}}
	</div>
</div>
<div class="span4"/>&nbsp;</div>
</div>