<table class="table table-striped">
<thead><th>Select Document</th></thead>
<tbody>
{{#if content.length}}

    <tr><td>
        {{#view Ember.Button tagName="div" target="App.stateManager" action="previousFolder"}}
        <i class="modern-icon">&lt;</i>&nbsp;Back
        {{/view}}
    </td></tr>

    {{#each content.folders}}
    <tr><td>
        {{#view App.FolderSelectorView contentBinding="this"}}
        <i class="modern-icon">B</i>&nbsp;{{content.name}}<i class="modern-icon" style="float:right">&gt;</i>
        {{/view}}
    </td></tr>
    {{/each}}

    {{#each content.documents}}
    <tr><td>
        {{#view App.DocumentSelectorView contentBinding="this"}}
        <i class="modern-icon">K</i>&nbsp;{{content.name}}
        {{/view}}
    </td></tr>
    {{/each}}

{{/if}}
</tbody>
</table>
