<table class="table table-striped">
<thead><th>Select Site</th></thead>
<tbody>
{{#each content}}
    <tr><td>
	{{#view App.SiteSelectorView contentBinding="this"}}
    <i class="modern-icon">w</i>&nbsp;{{content.title}}<i class="modern-icon" style="float:right">&gt;</i>
    {{/view}}
    </td></tr>
{{/each}}
</tbody>
</table>